:root {
	--intro-height: 100vh;
	--about-height: 100vh;
	--services-height: 100vh;
	--certifications-height: 100vh;
	--contact-height: 100vh;
	--footer-height: 10vh;
}

section.column,
section.column-container,
section.column-container > div.column {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

section.column-container > .column {
	width: 45vw;
	height: 95vh;
}

section.column,
section.column-container > div.column {
	flex-direction: column;
}

@media (max-width: 800px) {
	section.column-container {
		flex-direction: column;
	}

	section.column-container > .column {
		width: 90vw;
		height: 48vh;
		text-align: center;
	}
}

#intro {
	height: var(--intro-height);
}

#intro > .background {
	top: 0;
	object-position: 10%;
}

#intro > h1 {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: min(5vh, 6.5vw);
	color: var(--jj-off-white);
}

#intro > #cta {
	position: absolute;
	top: 80vh;
	left: 60vw;
	width: 30vw;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

#intro > #cta > .button {
	width: calc(50% - 3px);
}

#intro > #cta > #cta-seperator-container {
	width: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#intro > #cta > #cta-seperator-container > #cta-seperator {
	width: 2px;
	height: 75%;
	background: var(--jj-mid-gray);
	box-shadow: 0 0 2px var(--jj-mid-gray);
}

@media (max-width: 800px) {
	#intro > #cta {
		width: 80vw;
		left: 10vw;
		flex-direction: column;
	}

	#intro > #cta > .button {
		width: 100%;
	}

	#intro > #cta > #cta-seperator-container {
		height: 10px;
		opacity: 0;
	}
}

#about {
	height: var(--about-height);
	background: var(--jj-off-white);
}

#about p {
	font-size: min(1.8vmax, 14px);
}

#services {
	height: var(--services-height);
}

#services > h2 {
	color: var(--jj-off-white);
}

#services > .background {
	top: max(
		0px,
		calc(
			(
				var(--intro-height)
				+ var(--about-height)
				- var(--scroll-pos)
			)

		)
	);
	filter: brightness(0.5);
}

#services > .container {
	width: calc(100vw - 180px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50vh;
}

#services > .container > .service {
	width: 30%;
	background: var(--jj-off-white);
	border-radius: 15px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	text-align: center;
}

#services > .container > .service > h3 {
	font-size: max(3.4vw, 2vh);
}

#services > .container > .service > p {
	font-size: min(3.4vw, 2vh);
}

@media (max-width: 800px) {
	#services > .container {
		flex-direction: column;
		height: 85vh;
	}

	#services > .container > .service {
		width: 100%;
		height: 30%;
	}
}

#certifications {
	height: var(--certifications-height);
	background: var(--jj-off-white);
}

#contact {
	height: var(--contact-height);
	background: var(--jj-slate-gray);
}

#contact-form {
	color: var(--jj-off-white);
	--dark-label-color: var(--jj-off-white);
}

#contact-form input,
#contact-form textarea {
	color: var(--jj-slate-gray);
    resize: none;
}

@media (min-width:800px) {
	#contact {
		position: sticky;
		top: 0;
	}
}
