<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title>{{ .Site.Title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/_global.css">
		<link rel="stylesheet" href="/css/{{ .Params.css }}.css">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="description" content="{{ .Params.Description }}">
	</head>
	<body>
		{{ partial "nav.html" }}

		{{ block "main" . }}{{ end }}

		{{ range $url := .Params.additional_js }}
			<script defer async src="{{$url}}"></script>
		{{ end }}
		<script defer async src="/js/_global.js"></script>
		<script>
			const expandNav = document.getElementById("expand-nav");
			let sectionIndex = Math.floor((expandNav.getBoundingClientRect().top + window.scrollY) / window.innerHeight);
			window.addEventListener("scroll", () => {
				let newSection = Math.floor((expandNav.getBoundingClientRect().top + window.scrollY) / window.innerHeight);
				if (newSection != sectionIndex) {
					if (newSection % 2 == 1) {
						expandNav.style.fill = "var(--jj-dark-blue)";
					} else {
						expandNav.style.fill = "var(--jj-off-white)";
					}
					sectionIndex = newSection;
				}
			});
			
			window.addEventListener("load", () => {
				const nav = document.querySelector("nav");
				[...document.querySelectorAll("nav > .container > a")].forEach(a => {
					a.addEventListener("click", () => {
						nav.className = "";
					});
				});

				{{ readFile (print "/static/js/" .Params.js ".js") | safeJS }}
			});
		</script>
	</body>
</html>
