<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title>{{ .Site.Title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/_global.css">
		<link rel="stylesheet" href="/css/{{ .Params.css }}.css">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="description" content="{{ .Params.Description }}">
	</head>
	<body>
		{{ partial "nav.html" }}

		{{ block "main" . }}{{ end }}

		{{ range $url := .Params.additional_js }}
			<script src="{{$url}}"></script>
		{{ end }}
		<script defer async src="/js/_global.js"></script>
		<script defer async src="/js/{{ .Params.js }}.js"></script>
	</body>
</html>
